<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <script src="https://kit.fontawesome.com/44374d7295.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      {% endif %}

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
  <style>
      * {
        box-sizing: border-box;
      }
    
    .column {
      float: left;
      width: 33.3333%;
      padding: 10px;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }
    </style>
    <body>
    <hr>
    <h1 align="center" style="font-family:Arial, Helvetica, sans-serif">Certifications </h1>
    <div class="row">
      <div class="column">
        <p align="center" style="font-size:20px">AWS Solutions Architect - Associate</p>
        <p align="center">
          <img src="images/AWSSAA.png" width="auto" height="150"><br>
          <a href="https://www.credly.com/badges/a9ff5575-33a2-43a9-8174-b30d69d480a8/public_url">Verify</a>
        </p>
        <p align="center" style="font-size:20px">CS50's Introduction to Python Programming</p>
        <p align="center">
          <img src="images/CS50.jpg" width="auto" height="150"><br>
          <a href="https://certificates.cs50.io/ef39b983-669f-47cb-9dbf-c1c7da30f59d.pdf?size=letter">Verify</a>
        </p>
      </div>
      <div class="column">
    	<p align="center" style="font-size:20px">AWS Cloud Practitioner</p>
        <p align="center">
          <img src="images/AWSCP.png" width="auto" height="150"><br>
          <a href="https://www.credly.com/badges/c23d7feb-f208-48c9-bfaf-b57d3e78f744/public_url">Verify</a>
          </p>
          <p align="center" style="font-size:20px">IBM Machine Learning Specialist - Associate</p>
          <p align="center">
            <img src="images/IBM.png" width="auto" height="150"><br>
            <a href="https://www.credly.com/badges/5b3f28a8-0090-4bef-82fe-25f304d3eeb2/public_url">Verify</a>
            </p>
      </div>
            <div>
      <p align="center" style="font-size:20px">EGFWD Data Analysis Challenger Track</p>
    <p align="center">
      <img src="images/Udacity.png" width="auto" height="100"><br>
      <a href="https://s3-us-west-2.amazonaws.com/udacity-printer/production/certificates/4a9eb294-8100-4ccc-9928-b10489f9e38c.pdf">Verify</a>
      </p>
      </div>
    </div>

  </body>
  <hr>
  <footer>
    <p style="color:grey;text-align:center">Author: Mohamed Alaa Eldeen Shehata</p>
    <p style="color:grey;text-align:center;padding: 0px; margin: 0px;"><u>Contact Information</u></p>
    <p style="color:grey;text-align:center"><a href="https://www.linkedin.com/in/mohamedalaa7/"><i class="fa-brands fa-linkedin" style="color: #000000;"></i></a>&nbsp<a href="https://www.linkedin.com/in/mohamedalaa7/">LinkedIn</a>&nbsp&nbsp&nbsp&nbsp<a href="mailto:moalaaeldeen7@gmail.com"><i class="fa-solid fa-envelope" style="color: #000000;"></i></a>&nbsp<a href="mailto:moalaaeldeen7@gmail.com">Moalaaeldeen7@gmail.com</a></p>
  </footer>
</html>
